* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #acacac;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 250px;
    min-height: 300px;
    border: 8px dashed #ccc;
    color: white;
}

/* Different colors for each card */
.card:nth-child(1) {
    background-color: #d4afb9; /* Yellow for Basic Info */
}

.card:nth-child(2) {
    background-color: #9cadce; /* Blue for Contact */
}

.card:nth-child(3) {
    background-color: #7ec4cf; /* Green for Personal Info */
}

h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
}

p {
    font-size: 1em;
    margin-bottom: 10px;
}
